@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240, 240, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* A3 Paper size simulation */
@media screen {
  .max-w-\[297mm\] {
    max-width: 297mm;
  }
}

/* Day cell height */
.h-\[8mm\] {
  height: 8mm;
}